.user-flow {
	.step-box {
		// border: 1px solid black;
		margin: 10px 15px;
		padding: 10px 0;
		text-align: center;
	}
	.page-box{
		background: white;
		cursor: pointer;
		display: inline-block;
		border: 1px solid black;
		width: 200px;
		height: 50px;
		p {
			line-height: 50px;
		}
	}
	.visits-info{
		font-weight: bold;
	}
	.flow-column-4{
		width: 24%;
		display: inline-block;
	}
	.fa-arrow-left{
		font-size: 50px;
		position: absolute;
		left: 176px;
		top: 375px;
		z-index: 100;
	}
	.fa-arrow-right{
		font-size: 50px;
		position: absolute;
		right: 15px;
		top: 375px;
		z-index: 100;
	}
	.flow-column-prev {
		width: 230px;
		position: absolute;
		left: 176px;
		top: 130px;
		opacity: 0.6;
	}
	.flow-column-next {
		width: 230px;
		position: absolute;
		right: 15px;
		top: 130px;
		opacity: 0.6;
	}
	p {
		margin: 0;
	}
}