<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                     Widget settings form goes here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue">Save changes</button>
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">Dashboard</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/home">Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <h4><strong>Dados de Hoje</strong></h4>
    <i class="fa fa-spin fa-spinner" ng-show="loading_data" ng-cloak></i>
    <div class="row" ng-hide="loading_data" ng-cloak>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-light blue-soft" href="#">
            <div class="visual">
                <i class="fa fa-group"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{session_counter}}
                </div>
                <div class="desc">
                     Visitantes
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-light red-soft" href="#">
            <div class="visual">
                <i class="fa icon-docs"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{page_counter}}
                </div>
                <div class="desc">
                    Páginas visitadas
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-light green-soft" href="#">
            <div class="visual">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{timedelta_avg}}
                </div>
                <div class="desc">
                    Tempo médio dentro do site
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-light purple-soft" href="#">
            <div class="visual">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{page_avg}}
                </div>
                <div class="desc">
                    Média de página acessadas
                </div>
            </div>
            </a>
        </div>
    </div>

    <div class="row" ng-hide="loading_data">

        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-sharp hide"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Visitas durante a última semana</span>
                </div>
                
            </div>
            <div class="portlet-body">
                <div google-chart chart="chartObject" style="padding:0;width:100%"></div>
            </div>
        </div>
    </div>

</div>