<div class="page-content map-site">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                     Widget settings form goes here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue">Save changes</button>
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">Mapa do Site</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/home">Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <i class="fa fa-spin fa-spinner" ng-show="loading_data" ng-cloak></i>
    <div class="row map-site-container" ng-hide="loading_data" ng-cloak>
        <div class="page_box" ng-class="getColorClass(80000)">
            <p>Página: <strong>/</strong></p>
            <div class="page_box" ng-repeat="page1 in rootPage.childPages" ng-class="getColorClass(page1.fields.count_total)">
                <p> Página: <strong>{{page1.fields.url}}</strong> </p>
                <div class="page_box" ng-repeat="page2 in page1.childPages" ng-if="$index <= 3" ng-class="getColorClass(page2.fields.count_total)">
                    <p> Página: <strong>{{page2.fields.url}}</strong> </p>
                    <div class="page_box" ng-repeat="page3 in page2.childPages" ng-if="$index <= 3" ng-class="getColorClass(page3.fields.count_total)">
                        <p> Página: <strong>{{page3.fields.url}}</strong> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>